{% extends "base.html" %}

{% block content %}
    <div class="d-flex justify-content-center mt-5">
       <img src="{{ current_record.image.url }}" alt="{{ record.username }}" class="img-fluid rounded-circle border" style="width: 150px; height: 150px;"> 
    </div>
    
    <div class="d-flex justify-content-center mt-5">
        <form action="" method="POST" style="width: 30%">
            {% csrf_token %}

            {{ form.as_p }}

            <a href="{% url "view_profile" current_record.username %}" class="btn btn-secondary">Back</a>
            <button class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock  %}